<div class="container max-w-xl px-5">
    <form class="mt-5" [formGroup]="NewProductForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <!--  -->
            <div>


                <div class="mb-3 form-group">
                    <label for="arTitle" class="text-lg font-medium leading-none">brand In Arabic</label>
                    <input type="text" id="arTitle" formControlName="brand" name="ar.brand"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
                <div class="mb-3 form-group">
                    <label for="arTitle" class="text-lg font-medium leading-none">Title In Arabic</label>
                    <input type="text" id="arTitle" formControlName="title" name="ar.title"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
                <div class="mb-3 form-group">
                    <label for="arTitle" class="text-lg font-medium leading-none">description In Arabic</label>
                    <input type="text" id="arTitle" formControlName="description" name="ar.description"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
            </div>
            <!--  -->
            <div>

                <div class="mb-3 form-group">
                    <label for="enTitle" class="text-lg font-medium leading-none">brand In English</label>
                    <input type="text" id="enTitle" formControlName="brand" name="en.brand"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
                <div class="mb-3 form-group">
                    <label for="enTitle" class="text-lg font-medium leading-none">Title In English</label>
                    <input type="text" id="enTitle" formControlName="title" name="en.title"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
                <div class="mb-3 form-group">
                    <label for="enTitle" class="text-lg font-medium leading-none">description In English</label>
                    <input type="text" id="enTitle" formControlName="description" name="en.description"
                        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="quantityInStock" class="text-lg font-medium leading-none">Quantity</label>
                <input type="text" id="quantityInStock" formControlName="quantityInStock"
                    class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
            </div>
            <div class="mb-3 form-group">
                <label for="price" class="text-lg font-medium leading-none">Price</label>
                <input type="text" id="price" formControlName="price"
                    class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
            </div>
            <div class="mb-3 form-group">
                <label for="subCategoryId" class="text-lg font-medium leading-none">Category</label>
                <select id="subCategoryId" formControlName="subCategoryId"
                    class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
                    <option value="">Select a category</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input type="file" id="thumbnails" formControlName="thumbnails" (change)="onImageChange($event)"
                        accept="image/*"
                        class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-2" />
                </div>

                <div (click)="openImage()"
                    class="cursor-pointer relative bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] w-full overflow-hidden h-[150px] flex justify-center items-center">
                    <ng-container *ngIf="thumbnail; else noImage">
                        <img [src]="thumbnail" [alt]="thumbnail" class="object-cover w-full h-full" />
                    </ng-container>
                    <ng-template #noImage>
                        <img src="../../assets/download.png" alt="preview"
                            class="object-contain w-full h-full opacity-40" />
                    </ng-template>
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="description" class="text-lg font-medium leading-none">Description</label>
                <textarea id="description" formControlName="description"
                    class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm h-44 rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3"></textarea>
            </div>
        </div>
        <div class="w-full">
            <button type="submit"
                class="h-12 sm:w-[180px] w-full rounded-md px-3 bg-[#321fdb] text-white flex items-center gap-3 font-medium">Submit</button>
        </div>
    </form>
</div>