<div class="grid grid-cols-10 gap-5 px-5 py-5">
    <div *ngFor="let item of errorMsg">
        {{ item }}
    </div>
    <div class="col-span-7 mt-5">
        <h2 class="text-3xl font-bold tracking-tight">Overview</h2>
        <p class="text-sm font-light text-neutral-500">
            Welcome to the dashboard and stay up-to-date with the latest information.
        </p>
    </div>

    <!-- First Container (6 columns) -->
    <div class="col-span-7 ">
        <!-- First Component -->
        <div class="grid grid-cols-3 col-span-6 p-10 bg-white border shadow-md rounded-xl">
            <!-- Content of the first grid container -->
            <ng-container>
                <a routerLink="/products" class="px-4 pt-4">
                    <div class="flex items-center justify-start">
                        <div class="p-1 bg-[#D1FFD8] rounded-xl inline-flex items-center justify-center">
                            <img src="assets/chart.line.uptrend.xyaxis.svg" class="h-auto max-h-[4em] p-1" alt="" />
                        </div>
                        <div class="ml-4">
                            <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Total Products</span>
                            <p class="text-[2em] text-right">{{ product.length }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>

            <ng-container>
                <a routerLink="/orders" class="px-4 pt-4">
                    <div class="flex items-center justify-start">
                        <div class="inline-flex items-center justify-center p-1 bg-white rounded-xl">
                            <img src="assets/Frame 1597881674.svg" class="h-auto max-h-[3em] p-1" alt="" />
                        </div>
                        <div class="ml-4">
                            <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Total Orders</span>
                            <p class="text-[2em] text-right">{{ nbOrders.length }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>

            <ng-container>
                <a routerLink="/customers" class="px-4 pt-4">
                    <div class="flex items-center justify-start">
                        <div class="p-1 bg-[#FFF3E1] rounded-xl inline-flex items-center justify-center">
                            <img src="assets/shopping-cart.svg" class="h-auto max-h-[4em] p-1" alt="" />
                        </div>
                        <div class="ml-4">
                            <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Total Customers</span>
                            <p class="text-[2em] text-right">{{ Costumers.length }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </div>

        <!-- Second Component -->
        <div class="grid col-span-6 p-10 my-5 bg-white border shadow-md rounded-xl">
            <!-- Content of the second grid container -->
            <div class="col-span-6">
                <h1 class="text-slate-800 text-xl font-bold font-['Arial'] tracking-wide">
                    Status of amazon growth
                </h1>
            </div>

            <div class="col-span-6">
                <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </div>

        <!-- Third Component -->
        <div class="col-span-6 p-10 bg-white border shadow-md rounded-xl">
            <div class="flex justify-between col-span-6">
                <h1 class="text-slate-800 text-xl font-bold font-['Arial'] tracking-wide">
                    Last Orders
                </h1>
                <!-- search -->
                <div class="flex justify-between col-span-5 align-baseline">
                    <input type="text" name="q"
                        class="w-full h-12 p-4 mr-4 border rounded-full shadow focus:border-transparent focus:ring-0"
                        placeholder="search" />
                    <button type="submit">
                        <svg class="text-teal-400 h-5 w-5 absolute top-3.5 right-3 fill-current"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background: new 0 0 56.966 56.966"
                            xml:space="preserve">
                            <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z">
                            </path>
                        </svg>
                    </button>
                    <div
                        class="w-[100px] h-10 px-3.5 py-2.5 bg-white rounded-xl border border-zinc-200 justify-center items-center gap-2 inline-flex">
                        <button class="relative flex items-center gap-2">
                            <img src="assets/slider.svg" alt="" />
                            <div class="text-zinc-500 text-sm font-normal font-['Arial']">
                                Filters
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <!-- header -->
            <div class="flex justify-around grid-cols-5 mt-5 border-b-2">
                <h1 *ngFor="let order of LastOrders" class="mb-1 font-semibold">
                    {{ order }}
                </h1>
            </div>
            <!-- content -->
            <div class="flex justify-around grid-cols-5 my-3 border-b-2">
                <h1>#s</h1>
                <h1>Abdullah</h1>
                <h1>22/3/2024</h1>
                <form class="">
                    <select id="countries"
                        class="  text-gray-900 text-md font-semibold shadow-md rounded-lg  block w-full p-2.5     outline-none ring-0"
                        [ngClass]="{
      'text-[#73c0f3]] bg-[#d7ecfb] ': selectedValue === 'Pending',
      'bg-[#E4FFE8] text-[#58D46B ]': selectedValue === 'delivered',
      'bg-[#FFF3E1] text-[#F3A847]': selectedValue === 'shipping'
    }" (change)="onSelectChange($event)">
                        <option value="Pending">Pending</option>
                        <option value="delivered">Delivered</option>
                        <option value="shipping">Shipping</option>
                    </select>

                </form>

                <h1>5</h1>
            </div>
        </div>

        <!-- Second Container (4 columns) -->

    </div>

    <div class="col-span-3">
        <!-- Additional content goes here -->

        <div class="p-10 my-5 bg-white border shadow-md rounded-xl">
            <div class="">
                <h1 class="text-slate-800 text-xl font-bold font-['Arial'] tracking-wide">
                    Top Products
                </h1>
                <h5 class="text-[##8B909A]">
                    Total 9.5k Sellers
                </h5>
            </div>
            <hr class="h-1 mx-auto my-4 bg-gray-200 border-0 rounded w-60 md:my-10 ">

            <div class="gap-5 mt-5 ">
                <ng-container *ngFor="let item of Top5Products">
                    <div class="flex justify-around py-3">
                        <img class="w-[46px] h-[46px] rounded-lg" [src]="item.thumbnail" alt="">
                        <div class="flex flex-col">
                            <h1 class="truncate w-[150px] font-semibold">{{ item.en.title }}</h1>
                            <h5 class="text-xs ">Rating ⭐: {{ item.rating }} <span>({{item.ratingQuantity}})</span></h5>
                        </div>
                        <div>${{ item.price }} </div>
                    </div>
                </ng-container>


            </div>


        </div>
        <!-- Countries -->



        <div class="p-10 my-5 bg-white border shadow-md rounded-xl">
            <div class="">
                <h1 class="text-slate-800 text-xl font-bold font-['Arial'] tracking-wide">
                    Top Countries
                </h1>
                <div>
                    <h1>Customers</h1>
                    <h2>234252</h2>
                </div>
                <hr class="h-1 mx-auto my-4 bg-gray-200 border-0 rounded w-60 md:my-10 ">


                <canvas id="canvas2" width="400" height="400"></canvas>
            </div>

        </div>
    </div>