<div class="px-5">
  <div class="flex items-center justify-between w-full gap-3 pb-5 mt-5 border-b">
    <div>
      <h2 class="text-3xl font-bold tracking-tight">Product details</h2>
      <p class="text-sm font-light text-neutral-500">
        Manage [ <span class="text-lg font-normal">{{product.en.title}}</span> ] product.
      </p>
    </div>
    <a [routerLink]="['/products']" class="flex items-center gap-3 px-3 font-medium text-white bg-[#131921] hover:bg-[#f5a447] rounded-full h-9">
      <i class="fa-solid fa-backward"></i>
      Back
    </a>
  </div>
  <div class="mt-10">
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
      <div class=" h-[400px] flex justify-center items-center p-5 bg-white">
        <img class="w-full h-full object-fit-contain" [src]="product.thumbnail" alt="">
      </div>
      <div>
        <h1 class="text-2xl font-extrabold">{{product?.en.title}}</h1>
        <div class="flex items-center gap-2 mt-3">
          <span class="bg-[#2cacb0] text-white p-2 rounded-md items-center">
            in Stock
          </span>
          <p class="text-sm text-slate-500">{{product.quantityInStock}} products available</p>
        </div>
        <div class="flex items-center gap-5 mt-10">
          <!-- <span class="text-6xl font-light text-[#ff6b6b]">{{formatPrice(product.discount)}}</span> -->
          <span class="relative text-2xl text-gray-400 discountNumber">{{product.price}}</span>
        </div>
        <p class="text-sm text-neutral-600">{{product.en.description}}</p>
        <div class="flex items-center gap-5">
          <span class="w-20">categories </span> <span class="text-[#f9b115] font-medium text-sm  p-2 rounded-md ">
            <ng-container *ngFor="let categories of this.categories">
              <ng-container *ngIf="product.categoryId === categories.id">
                {{ categories.link }}
              </ng-container>
            </ng-container></span>
        </div>

        <div class="flex items-center gap-3 mt-5">
          <button
            class="w-32 p-2 text-lg font-medium text-center text-white bg-green-500 rounded-full hover:bg-green-700"
            (click)="editProduct(product.id)">Update</button>
          <button class="w-32 p-2 text-lg font-medium text-center text-white bg-red-500 rounded-full hover:bg-red-700"
            (click)="deleteProduct(product.id)">delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container max-w-xl px-5 py-10">
  <form class="mt-5" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="mb-3 " formGroupName="ar">
        <label for="arTitle" class="text-lg font-medium leading-none">brand In Arabic</label>
        <input type="text" id="arTitle" formControlName="brand" name="ar.brand"
          class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
      </div>
      <div class="mb-3 " formGroupName="ar">
        <label for="arTitle" class="text-lg font-medium leading-none">Title In Arabic</label>
        <input type="text" id="arTitle" formControlName="title" name="ar.title"
          class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
      </div>
      <div class="mb-3 " formGroupName="ar">
        <label for="arTitle" class="text-lg font-medium leading-none">description In Arabic</label>
        <input type="text" id="arTitle" formControlName="description" name="ar.description"
          class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
      </div>
    </div>
    <!--  -->
    <div>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div class="mb-3 " formGroupName="en">
          <label for="enTitle" class="text-lg font-medium leading-none">brand In English</label>
          <input type="text" id="enTitle" formControlName="brand" name="en.brand"
            class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        </div>
        <div class="mb-3 " formGroupName="en">
          <label for="enTitle" class="text-lg font-medium leading-none">Title In English</label>
          <input type="text" id="enTitle" formControlName="title" name="en.title"
            class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        </div>
        <div class="mb-3 " formGroupName="en">
          <label for="enTitle" class="text-lg font-medium leading-none">description In English</label>
          <input type="text" id="enTitle" formControlName="description" name="en.description"
            class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        </div>
      </div>
    </div>


    <div class="mb-3 form-group">
      <label for="quantity" class="text-lg font-medium leading-none">Quantity</label>
      <input type="text" id="quantity" formControlName="quantityInStock"
        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
    </div>
    <div class="mb-3 form-group">
      <label for="price" class="text-lg font-medium leading-none">Price</label>
      <input type="text" id="price" formControlName="price"
        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
    </div>

    <div class="mb-3">
      <div class="form-group">
        <label for="image" class="text-lg font-medium leading-none">Image</label>
        <input type="file" id="image" formControlName="thumbnail" (change)="onImageChange($event)" accept="image/*"
          class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3" />
      </div>
      <div (click)="openImage()"
        class="cursor-pointer relative bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] w-full p-3 h-72 flex justify-center items-center">
        <ng-container *ngIf="thumbnail; else noImage">
          <img [src]="thumbnail" [alt]="thumbnail" class="object-contain w-full h-full" />
        </ng-container>
        <ng-template #noImage>
          <img src="../../assets/download.png" alt="preview" class="object-contain w-full h-full opacity-40" />
        </ng-template>
      </div>
    </div>

    <div class="mb-3 form-group">
      <label for="category" class="text-lg font-medium leading-none">Category</label>
      <select id="category" formControlName="subCategoryId"
        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
        <option value="">Select a category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div class="w-full">
      <!-- <button type="submit"
        class="h-12 sm:w-[180px] w-full rounded-md px-3 bg-[#321fdb] text-white flex items-center gap-3 font-medium">Update</button> -->
    </div>
  </form>
</div>