.table-container {
    overflow-x: auto;
    max-width: 100%; /* Adjust the maximum width as needed */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1, 0.1);
  }
  
 
  
  
  .overscroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    max-width: 100%; /* Ensure the table doesn't overflow the container */
    white-space: nowrap; /* Prevent line breaks within table cells */
  }
    