

/* Styles for small devices (e.g., screens with a maximum width of 768px) */
@media (max-width: 768px) {
    .scrollable-div {
      overflow-x: auto;
      overflow: touch; /* Enable smooth scrolling on iOS devices */
      white-space: nowrap; /* Prevent line breaks within the div */
    }
  
    .scrollable-table {
      width: 100%; /* Ensure the table takes the full width of the div */
    }
  }
  

    .my-custom-select {
      padding: 5px 10px;
      /* Base styles */
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      cursor: pointer;
    }
  
    .my-custom-select.Pending {
      /* Pending state */
      background-color: #d7ecfb;
    }
  
    .my-custom-select.Shipping {
      /* Delivered state */
      color: #38A169;
      /* Green text */
    }
  
    .my-custom-select.Delivered {
      /* Shipping state */
      color: #F97316;
      /* Orange text */
    }