<div class="w-full px-5">
    <div class="flex items-center justify-between w-full gap-3 pb-5 mt-5 border-b border-black">
        <div>
            <h2 class="text-3xl font-bold tracking-tight">Orders ({{FirebaseOrders.length}})</h2>
            <p class="text-sm font-light text-neutral-500">
                Manage your orders
            </p>

        </div>
        <a [routerLink]="['']"
            class="flex items-center gap-3 px-3 font-medium text-white bg-[#131921] hover:[#f5a447] rounded-md b h-9">
            <i class="fa-solid fa-backward"></i>
            Back
        </a>
    </div>
    <div class="w-[100%]">
        <h1 class="flex items-center justify-between mt-10 mb-5 text-4xl font-bold">All Pending Orders</h1>

        <div *ngIf="FirebaseOrders.length > 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div id="tableContianer" class="w-full py-4 overflow-y-auto rounded-lg">
                <table class="w-[100%] bg-[#ffff] ">
                    <thead class="bg-[#f5a447] ">
                        <tr>

                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                            </th>
                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                #ID</th>
                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                Customer ID</th>
                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                Address</th>
                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                Order Status</th>

                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                Total Amount</th>
                            <th class="px-2 py-4 text-center text-white capitalize text-md whitespace-nowrap">
                                Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let order of FirebaseOrders; let i = index">
                            <tr>
                                <td
                                    class="py-4 text-lg font-normal text-center text-black border-t border-b border-black">
                                    <i (click)="showProductDetails(i)"
                                        class="cursor-pointer  text-[#000] text-2xl fa-solid fa-caret-down"></i>
                                </td>
                                <td
                                    class="py-4 text-lg font-normal text-center text-black border-t border-b border-black">
                                    {{ order.id }}</td>

                                <td
                                    class="py-4 text-lg font-normal text-center text-black border-t border-b border-black">
                                    {{ order.userId }}</td>

                                <td
                                    class="py-4 text-lg font-normal text-center text-black border-t border-b border-black">
                                    {{ order.ShippingAddress }}</td>

                                <td
                                    class="py-4 text-lg font-normal text-center text-black truncate border-t border-b border-black">
                                    <div class="flex items-center gap-2 text-center">
                                        {{ order.OrderStatus }}
                                        <span [ngClass]="{'bg-slate-500': !order.status, 'bg-green-500': order.status}"
                                            class="h-[10px] w-[10px] rounded-full"></span>
                                    </div>
                                </td>

                                <td
                                    class="py-4 text-lg font-normal text-center text-black truncate border-t border-b border-black">
                                    ${{ order.totalPrice | number: '1.2-2' }}</td>
                                <td
                                    class="px-2 py-4 text-lg font-normal text-center text-black border-b border-black w-fit ">
                                    <div class="flex items-center gap-2">

                                <select id="countries"
                                    class="text-gray-900 text-md font-semibold shadow-md rounded-lg block w-full p-2.5 outline-none ring-0 my-custom-select"
                                    [ngClass]="{
                                        'bg-[#d7ecfb] text-[#73c0f3]': order?.status === 'pending' && selectedValue === 'pending',  
                                        'bg-[#92ffa2] text-[#58D46B]': order?.status === 'delivered' && selectedValue === 'delivered',
                                        'bg-[#FFF3E1] text-[#F3A847]': order?.status === 'shipping' && selectedValue === 'shipping',
                                        'bg-[#e2887a] text-[#f34d47]': order?.status === 'cancelled' && selectedValue === 'cancelled'
                                    }" (change)="onSelectChange($event, order.id)" [value]="order?.status">
                                    <option value="pending">Pending</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="shipping">Shipping</option>
                                    <option value="cancelled">Cancelled</option>
                                </select>


                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="selectedOrder === order">
                                <td colspan="8">
                                    <div class="w-full pl-20 modal">
                                        <div class="w-full mb-5 modal-content">
                                            <div class="flex items-center justify-between my-4 ">
                                                <h1 class="text-lg font-medium">ordered In <span
                                                        class="text-md text-muted-foreground">{{formatReadableDate(order.orderDate)}}
                                                    </span></h1>
                                                <span class="cursor-pointer close close-btn"
                                                    (click)="closeProductModal()">
                                                    <i class="text-3xl close-btn text-[#000] fa-solid fa-xmark"></i>
                                                </span>
                                            </div>

                                            <table class="w-full">
                                                <thead>
                                                    <tr>
                                                        <th
                                                            class="text-md capitalize whitespace-nowrap bg-[#000] text-white py-2 px-1 text-left">
                                                            #ID</th>
                                                        <th
                                                            class="text-md capitalize whitespace-nowrap bg-[#000] text-white py-2 px-1 text-left">
                                                            Item</th>
                                                        <th
                                                            class="text-md capitalize whitespace-nowrap bg-[#000] text-white py-2 px-1 text-center">
                                                            Price</th>
                                                        <th
                                                            class="text-md capitalize whitespace-nowrap bg-[#000] text-white py-2 px-1 text-center">
                                                            Quantity</th>
                                                        <th
                                                            class="text-md capitalize whitespace-nowrap bg-[#000] text-white py-2 px-1 text-center">
                                                            All Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let product of order.Products; let j = index">
                                                        <td
                                                            class="py-2 text-sm font-normal text-center text-black border-t border-b border-black ">
                                                            {{j+1}}</td>
                                                        <td
                                                            class="py-2 text-sm font-normal text-center text-black border-t border-b border-black ">
                                                            <div class="flex items-center gap-3">
                                                                <img class="h-[25px]" [src]="product.product.image"
                                                                    alt="">
                                                                <p>{{ product.product.name }}</p>
                                                            </div>
                                                        </td>
                                                        <td
                                                            class="text-center min-w-[100px] text-black font-normal text-sm py-2 border-b border-black border-t ">
                                                            {{ product.product.price | number: '1.2-2' }}</td>
                                                        <td
                                                            class="text-center min-w-[100px] text-black font-normal text-sm py-2 border-b border-black border-t ">
                                                            {{ product.quantity }}</td>
                                                        <td
                                                            class="text-center min-w-[100px] text-black font-normal text-sm py-2 border-b border-black border-t ">
                                                            {{ product.product.quantity }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <h1 class="text-xl font-medium capitalize">No Orders yet.</h1>
        </ng-template>

    </div>
</div>