<div class="sm:w-72   shadow-lg bg-[#131921] z-20 h-[100%] dark:bg-[##8C97A7] dark:text-white">
    <div class="items-center justify-between p-5 text-center sm:flex">
        <a routerLink="/overview" class="sm:block text-[#fff] hidden text-4xl font-extrabold tracking-tight ">
            <img src="./assets/f6500de260a82d9d60e03a1d32b25e45.png" alt="Amazon"
                class="object-cover h-16 m-8 rounded w-160">
        </a>
    </div>

    <div class="mt-10">
        <div *ngFor="let link of links" class="">
            <ul class="flex flex-col gap-1">
                <li *ngFor="let item of link.items" [class.active]="currentPath === item.path"
                    class="p-3 transition duration-200 ease-in-out focus:outline-none hover:bg-[#F2F3F3] hover:shadow-sm hover:border-l-4 border-[#f5a447]">
                    <a [routerLink]="['/', item.path]" class="flex gap-3 items-center text-[#c7d7d7] hover:text-black">
                        <i class="{{ item.icon }} text-xl sm:w-5"></i>
                        <span class="hidden text-lg sm:block">{{ item.title |translate }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Logout Button -->
    <div class="absolute bottom-0 left-0 right-0 p-4 hover:border-l-4 border-[#f5a447]">
        <button (click)="logOut()" class="flex items-center text-[#c7d7d7]">
            <i class="text-xl fas fa-sign-out-alt"></i>
            <span class="ml-2">{{"LogOut" |translate}}</span>
        </button>
    </div>
</div>